In [2]:
def greet_user(username):
    """Display  a simple greeting."""
    print(f'Hello,{username.title()} !')
greet_user('ridhwan')

greet_user('ridhwan',' rahman khan')

Hello,Ridhwan !

TypeError: greet_user() takes 1 positional argument but 2 were given

In [3]:
def describe_pet(pet_name,animal_type):
    #'''Display information about a pe.'''
    print(f'\nI have a {animal_type}')
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet (animal_type='cat', pet_name='TOM')

I have a cat
My cat's name is Tom.

In [6]:
def describe_pet(pet_name,animal_type):
    #'''Display information about a pe.'''
    print(f'\nI have a {animal_type}')
    print(f"My {animal_type}'s name is {pet_name.title()}.")

describe_pet ('tom','cat')

I have a cat
My cat's name is Tom.

In [13]:
def default (name='ridhwan',age=16,type1='homo sapience'):
    print(name,age,type1)
default('shawkat',None,'manus')
default()
default(age=42)

shawkat None manus
ridhwan 16 homo sapience
ridhwan 42 homo sapience

In [16]:
def default1 (name,age=16,type1='homo sapience'):
    print(name,age,type1)
default1('ghas')

ghas 16 homo sapience

In [20]:
def default2 (name='ridhwan',age=16,type1):
    print(name,age,type1)
default2(type1='ridhwan')
default()

SyntaxError: non-default argument follows default argument (<ipython-input-20-bae3b536340c>, line 1)

In [3]:
a=4
# ord('1')<=a<=ord('9')
print(ord('a'))
print(ord('z'))
print(ord('1'))
print(ord('9'))
49<= ord('2')<=57

97
122
49
57

True

In [23]:
a='ridjwa'
for i in range(len(a)):
    print(a[i])

r
i
d
j
w
a

In [5]:
#Ridhwan khan -- 16.08  22 -- SRBD contest or something er problem BRACU GC
encrypted_message='haLum Sorry AlMsunG vugi chugi jinis  '
encrypted ='samsung'
message=''
for i in encrypted_message.lower():
    if 97<=ord(i)<=122:
        if i in encrypted:
            message+=i
# encrypted: #s a m s u n g
# message: #a u m s a m s u n g
if encrypted in message:
    print('SRBD')   
else:
    print('GHOST')     
# print(message)

SRBD

In [17]:
def build_person(first_name,last_name,age=None):
    '''Return a dictionary of information about a person'''
    person= {'first':first_name,'last':last_name}
    if age:
        person['age']=age
    return person

musician= build_person('RIDHWAN','khan',27)
musician2= build_person('RIDHWAN','khan')
musician3= build_person('RIDHWAN','khan',)
print(musician)
print(musician2)
print(musician3)

{'first': 'RIDHWAN', 'last': 'khan', 'age': 27}
{'first': 'RIDHWAN', 'last': 'khan'}
{'first': 'RIDHWAN', 'last': 'khan'}

In [6]:
'''CSE SECTION 4 QUIZ AFTER MID  '''
cars=('TX07123','CL98123','AR14099','AR000000')
result={'Year':'','Area':'','Registration fee':''}
for i in range(len(cars)):
    year=''
    reg_fee=0
    # print(cars[i][:2])  
    if cars[i][:2]=='TX':
        result['Area']='Texas'
    elif cars[i][:2]=='AR':
        result['Area']='Arizona'
    else:    #ridhwan khan
        result['Area']='California'
    year='20'+cars[i][2:4] 
    result['Year']=year 
    reg_fee=  int(cars[i][4:] )*950
    result['Registration fee']=reg_fee
    print(result)

{'Year': '2007', 'Area': 'Texas', 'Registration fee': 116850}
{'Year': '2098', 'Area': 'California', 'Registration fee': 116850}
{'Year': '2014', 'Area': 'Arizona', 'Registration fee': 94050}
{'Year': '2000', 'Area': 'Arizona', 'Registration fee': 0}

In [3]:
##other section cse quiz after mid 
given=(('Rafi',12321,True),(22301143,'Ridhwan',True),(False,'Amira tanjum',223045495),('Disha',False,232399))
result1=[]
result2=[]
for i in given:
    
    # print(i)
    if True in i:
        j=list(i).remove(True)
        result1+=[list(j)]
    else:
        j=list(i).remove(False)
        result2+=[list(j)]
print(result1)
print(result2)

# dict={'student name':'','Non students':''}
# for k in range(len(result1)):
#     for r in result1[k]:   
#         if type(r)==bool:
#             result1[k].remove(r)
        
#             print(result1[k])
# print(result1)

TypeError: 'NoneType' object is not iterable

In [3]:

given=(('Rafi',12321,True),(22301143,'Ridhwan',True),(False,'Amira tanjum',223045495),('Disha',False,232399))
result1=[]
result2=[]
for i in given:
    # k=[]
    for j in i:
        k=[]
        if j == True:
            k=list(i)
            k.remove(j)
            if type(k[0])==int:
                k[0],k[1]=k[1],k[0]
                result1.append(tuple(k))
            else:
                result1.append(tuple((k)))                
        elif j== False:
            k=list(i)
            k.remove(j)
            if type(k[0])==int:
                k[0],k[1]=k[1],k[0]
            result2.append(tuple(k))   
result1=tuple(result1)
result2=tuple(result2)  

dict_result={} 
dict_result['student']=result1
dict_result['Non student']=result2
print(dict_result)

{'student': (('Rafi', 12321), ('Ridhwan', 22301143)), 'Non student': (('Amira tanjum', 223045495), ('Disha', 232399))}

In [1]:
k=[1,2,3]
l=(1,2,3)
# k+=l
j=[]
j+=tuple(k)
print(j)

[1, 2, 3]