In [10]:
new=[1,2,3,'ronaldo',4]
new.pop(2)
print(new)

[1, 2, 'ronaldo', 4]

In [6]:
new=[1,2,3,'ronaldo',4]
new.remove('ronaldo')
print(new)

[1, 2, 3, 4]

In [13]:
new=[1,2,3,'ronaldo',4]
new.clear()
print(new)

[]

In [16]:
new=[1,2,3,'ronaldo',4]
del new[3]
print(new)

[1, 2, 3, 4]

In [17]:
new=[1,2,3,'ronaldo',4]
del new
print(new)

NameError: name 'new' is not defined

In [22]:
new=[1,2,5,8,6,5,6,7,3,4]
new.sort()
print(new)

[1, 2, 3, 4, 5, 5, 6, 6, 7, 8]

In [27]:
new=[1,2,5,8,6,5,6,7,3,4]
new.reverse()
print(new)

[4, 3, 7, 6, 5, 6, 8, 5, 2, 1]

In [28]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [36]:
a=['C','D',['A','B']]
a.extend(['a','b'])
print(a)

['C', 'D', ['A', 'B'], 'a', 'b']

In [40]:
a=[[1,2,3,4,5],[12,13,12,3,2,4,5,7,8]]
a[0][2:5]

[3, 4, 5]

In [41]:
a=[[1,2,3,4,5],[12,13,12,3,2,4,5,7,8]]
for i in a:
    print(i)

[1, 2, 3, 4, 5]
[12, 13, 12, 3, 2, 4, 5, 7, 8]

In [42]:
a=[1,2,3,4,5]
for i in a:
    print(i)

1
2
3
4
5

In [48]:
sup=['pen','sts','sfsf']
for i in range(len(sup)):
    print('Index '+str(i)+' in sup is ' + sup[i])

Index 0 in sup is pen
Index 1 in sup is sts
Index 2 in sup is sfsf

In [51]:
sup=['pen','sts','sfsf']
sup= sup.append('ball')
print(sup)

None

In [52]:
a=['C','D',['A','B']]
a.sort(reverse=True)

TypeError: '<' not supported between instances of 'str' and 'list'

In [56]:
new=[1,2,5,8,6,5,6,7,3,4]
new.sort(reverse=True)
print(new)

[8, 7, 6, 6, 5, 5, 4, 3, 2, 1]

In [57]:
str=['a','B','C','b','A']
str.sort()
print(str)

['A', 'B', 'C', 'a', 'b']

In [1]:
a=['a','B','C','benten','A']
a.sort(key=str.lower)
a

['a', 'A', 'B', 'benten', 'C']

In [6]:
print('hau mau khau'+ \
    ' years ago ...')

hau mau khau years ago ...

In [3]:
rk=['ridhwan','','','ridhwan','kelly']
res= list(filter(None,rk))
print(res)
#filter can be used to to remove the none
#data type

['ridhwan', 'ridhwan', 'kelly']

In [8]:
##add new item in a list 
list3=[10,2,[3,[4,[50,60],55],56],78]
#solution
# print(list3 [2][1][1])
list3 [2][1][1].append([1,2,3,3])
print (list3)

[10, 2, [3, [4, [50, 60, [1, 2, 3, 3]], 55], 56], 78]

In [9]:
L1=['hello','take']
L2=['ridhwan','sir']
new=[]
for i in L1:
    for j in L2:
        a=i+j 
        new.append(a)
print(new)

['helloridhwan', 'hellosir', 'takeridhwan', 'takesir']

In [10]:
n=input()
#list1=[]
list1 = n.split(', ')
print(list1)

['1', '2', '3', '4']

In [4]:
n=0
list2=[]
# list3=[]
while True:
    n = input()

    if n== '':
    
        break
    list2.append(int(n))
    
print(list2)

list3=[int(x) for x in list2]
print(list3)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [1]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", -1)
print(x)
x = txt.split("#", 2)
print(x)
x = txt.split("#", 100)

print(x)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry#orange']
['apple', 'banana', 'cherry', 'orange']

In [19]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#",2)
print(x)

['apple', 'banana', 'cherry#orange']

In [1]:
#sample input = ["A","B","C",1]

s=input("please enter your desired list")
s= s[1:-1] #Brackets remove
print(s)
print(type(s))
list1 = s.split(",") #'"A","B","C", 1' ---> ['"A"','"B"','"C"', '1']
print("List before removing the double inverted comma",list1)


for i in range(len(list1)):  
  if list1[i].isdigit():
      list1[i] = int(list1[i])  #Here the integer (eg: 1) is converted to integer. 
  else:
      list1[i] = list1[i][1:-1] #This slicing is to remove the double inverted comma from each element which is part of the string 

print(list1)

"A","B","C",1
<class 'str'>
List before removing the double inverted comma ['"A"', '"B"', '"C"', '1']
['A', 'B', 'C', 1]

In [3]:
list1 = ["A","B"]
list1.append("IJK")      #IJK is added as a  <whole>
print(list1)


list1 = ["A","B"]
list1.extend("IJK")     #IJK is added <individually> as a character into the list
print(list1)

['A', 'B', 'IJK']
['A', 'B', 'I', 'J', 'K']

In [1]:
#fibonacchi
#i feel osthir lvl er talented ungraded solve krlam :p 
n1=0
n2=1
print(n1,n2, end=' ')
fibo=0
n=0
ran=int(input())
while n<ran: 
    if (n2+n1)<=ran:  #ei condition check korte 5 min ses  

        fibo=n2+n1
        # print(new)
        print(fibo,end=' ')
        n1=n2
        n2=fibo
        n+=1
        
    else:
        break

0 1 1 2 3 5 8

In [4]:
#decimal to binary 
start=int(input('input'))
store=start
x=0
bin=[ ]
while store%2>=0:
    bin=store%2
    store=store//2
    print(store)
print(bin)
print(bin[-1::-1])

0

In [5]:
#lab 04
#UNGRADED 16
n=(input())
l1=[]
largest1=0
l2=0
ind=0
while n!='':
    l1.append(int(n))
    if int(n)>largest1:
        largest1=int(n)
    n=(input())
print('largest1',largest1)
print(l1)
for i in range(len(l1)):
    if l1[i]!= largest1:
        if l1[i]>l2:
            l2=l1[i]
for j in range(len(l1)):
    if l1[j]==l2:
        j=ind

print('largest2',l2,'INDEX is ',ind)

largest1 220
[2, 4, 10, 220, 100, 1]
largest2 100 INDEX is  0

In [3]:
lis1=[1,2,3,]
tup1=(1,2,3,)

In [5]:
lis2=[1]
print(type(lis2))

<class 'list'>

In [8]:
tup=(1)
print(type(tup))

<class 'int'>

In [9]:
tup=(21,)
type(tup)

tuple

In [10]:
list((1,2,'hello'))

[1, 2, 'hello']

In [11]:
lis11=[1,2,3,4,5,6,]
tuple(lis11)

(1, 2, 3, 4, 5, 6)

In [12]:
tup11=(1,2,3,4,)
list((tup11))

[1, 2, 3, 4]

In [17]:
list('HELLOOO')

['H', 'E', 'L', 'L', 'O', 'O', 'O']

In [20]:
a=69
c=a   #just copied the reference not the variable itself 
a=42  #integers are immutable so 42 is assigned to a ....as it is immutable it doesn't effect C 
print(c)
print(a)

69
42

In [23]:
rid=[1,2,3,4,]
hit=rid         #the reference is being copied not the list 
hit[1]='murgi ,[morga]' #AS list is mutable so this changes the list 
print(rid ,'=rid')  #the list itself was never being copied when we modify any of them we are actually modifying both cause the memory 
#location was  a reference of the other ist

print(hit,'=hit')

[1, 'murgi ,[morga]', 3, 4] =rid
[1, 'murgi ,[morga]', 3, 4] =hit

In [28]:
id('ridhwan') #everytime i run its different cause it shows the memory free memory byte address

2208640630320

In [8]:
row=int(input())
for i in range(0,row+1):
    print(' '*(row-i)+'*'*i)

    *
   **
  ***
 ****
*****

In [14]:
r1=int(input())
for i in range (1,r1+1):
                #RIDHWAN KHAN SEC 04 ;) 
    if  i==1  or  i==2 or i==r1:
       
        print(' '*(r1-i)+'*'*i)
    else:
                                     
        print(' '*(r1-i)+'*'+' '*(i-2)+'*')

      *
     **
    * *
   *  *
  *   *
 *    *
*******

In [15]:
l3=[1,2,3]+[3,4,5]
print(l3)

[1, 2, 3, 3, 4, 5]

In [11]:
r1=int(input())
for i in range (0,r1+1):
    print(i,'check',end=' ')
    print(' ')
    if i!=0  or  i!=1 or i!=r1:
        if i==r1:
            print('*')
        elif i ==r1+1:
            print('*')
        else:
            print(' ')
    elif  i==0  or  i==1 or i==r1:
        print('check2')
        print(' '*(r1-i)+'*'*i)

0 check

1 check

2 check

3 check

4 check

5 check
*

In [ ]:
zczczxcxczxcxzcczczxcxc      cccvvxvxzzvxfsdf ffes  f f sfsdf sd fsdfsad fsfsd sfsd sfs